
:root {
    --cor1: #A79277;
    --cor2: #D1BB9E;
    --cor3: #EAD8C0;
    --cor4: #FFF2E1;
}

main  h2{
    text-align: left;
    color: var(--cor3);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contatos {
    background-color: var(--cor1);
    padding: 20px 50px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.63);
    width: 500px;
    margin: 80px auto;
}

label {
    display: block;
    color: var(--cor3);
    font-weight: bold;
    font-size: 150%;
}

input {
    width: 100%;    
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--cor4);
    font-family: sans-serif;
}

#message {
    margin: 0px 0px 20px 0px;
    background-color: var(--cor4);
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

button {
    width: 105%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor3);
}

button:hover {
    background-color: var(--cor2);
}
