* {
    margin: 0;
    padding: 0;
}


:root {
    --cor1: #A79277;
    --cor2: #D1BB9E;
    --cor3: #EAD8C0;
    --cor4: #FFF2E1;
}

body {
    background-color: var(--cor3);
}

header {
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
}

header h1 {
    padding: 10px 0px 0px 0px;
    color: var(--cor3);

}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;


}

nav li a {
    color: var(--cor4);
    text-decoration: none;
    margin: 0 2em;
    font-weight: bold;
}

nav li :hover {
    color: var(--cor3);
}

section {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}

section h2 {
    text-align: center;
    color: var(--cor3);
    font-size: 35px;
    text-shadow: black 6px 7px 5px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}


main {
    background-color: var(--cor3);
    max-width: 80%;
    margin: auto;
    padding: 40px;
}

main h2 {
    padding: 0px 0px 30px 0px;
}

main h2 {
    text-align: center;
    color: var(--cor1);
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: var(--cor4);
    width: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 10px;
}

.card img {
    width: 230px;
    margin: 5px;
    border-radius: 10px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card h3 {
    font-size: 1.2em;
}

.card p {
    font-size: .9em;
    color: rgb(87, 85, 85);
    max-width: 210px;
}

.card button {
    background-color: var(--cor1);
    height: 30px;
    border: none;
    padding: 4px;
    color: var(--cor4);
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    border-radius: 6px;
}

.card button:hover {
    background-color: var(--cor2);
    transition: 0.3s;
}

footer {
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    color: var(--cor3);
    flex-wrap: wrap;
}

.social ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.social li {
    padding: 4px 15px 0px 0px;
}

.social img:hover {
    width: 25px;
}

address {
    padding: 2px 0px 0px 5px;
}

address a {
    text-decoration: none;
    color: var(--cor3);
}

address a:hover{
    text-decoration: underline;
}

.equipe p {
    padding: 2px 0px 0px 2px;
}