main h2 {
    text-align: justify;
    padding: 10px 0px 10px 0px;
    font-size: xx-large;

}

main p {
    text-align: justify;
    padding: 5px;
    font-size: larger;
}

main ul {
    list-style-type: decimal;
    padding: 0px 0px 0px 30px;
}

main li {
    padding: 8px 0px 0px 15px;
    text-align: justify;
    font-size: larger;
}

picture {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

picture img {
    padding: 10px;
    min-width: 10px;
}